kind: Namespace
apiVersion: v1
metadata:
  name: ingress
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: ingress
  namespace: ingress
spec:
  interval: 10m0s
  path: ./ingress
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
