cluster:
  apiServer:
    extraArgs:
      service-account-issuer: "${cluster_endpoint}"
      api-audiences: "${control_plane_api_audiences}"
      oidc-issuer-url: https://git-ce.rwth-aachen.de
      oidc-client-id: fccd31e06177cb440f732bce7aa0a50a8a9567c20f65627f982bb734209df5ff
      oidc-username-claim: sub
