cluster:
  apiServer:
    extraArgs:
      service-account-issuer: "https://cluster.kbs610.click:6443"
      oidc-issuer-url: https://git-ce.rwth-aachen.de/
      oidc-client-id: fccd31e06177cb440f732bce7aa0a50a8a9567c20f65627f982bb734209df5ff
      oidc-username-claim: sub
