# Ref: https://fluxcd.io/flux/installation/configuration/vertical-scaling/#increase-the-number-of-workers-and-limits
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
patches:
  - patch: |
      - op: add
        path: /spec/template/spec/
        value: |
          tolerations:
          - key: "node.cloudprovider.kubernetes.io/uninitialized"
            value: "true"
    target:
      kind: Deployment
      namespace: flux-system
---
