namespace: trainy
resources:
  - ../../base
patches:
  - path: backend.yaml
  - target:
      kind: ImagePolicy
    patch: |-
      - op: add
        path: /spec/filterTags/pattern
        value: "^main-(?P<BUILD>.*)"
images:
  - name: ghcr.io/trainyapp/trainy-backend
    digest: sha256:a6c5185e7eb4e7aecba61880cc4ef3d4e3d9f6a86be2159e2055d7e4effc43c5 # {"$imagepolicy": "trainy:trainy-backend:digest"}
  - name: ghcr.io/trainyapp/trainy-backend/worker
    digest: sha256:59d27f3bbab1b0cca333615c357d38689625599eb6ba44d77bd14270a02fea0e # {"$imagepolicy": "trainy:trainy-worker:digest"}
