apiVersion: apps/v1
kind: Deployment
metadata:
  name: whoami
  namespace: ingress
spec:
  replicas: 3
  selector:
    matchLabels:
      app: whoami
  template:
    metadata:
      labels:
        app: whoami
    spec:
      containers:
        - name: whoami
          image: traefik/whoami
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: whoami
  namespace: ingress
spec:
  selector:
    app: whoami
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
kind: HTTPRoute
apiVersion: gateway.networking.k8s.io/v1
metadata:
  name: whoami
  namespace: ingress
spec:
  parentRefs:
    - name: cloudflare
  hostnames:
    - "whoami.kbs610.click"
  rules:
    - backendRefs:
        - name: whoami
          port: 80
