apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
spec:
  url: https://traefik.github.io/charts
  interval: 24h
---
kind: HelmChart
apiVersion: source.toolkit.fluxcd.io/v1
metadata:
  name: traefik
spec:
  chart: traefik
  interval: 1h
  sourceRef:
    kind: HelmRepository
    name: traefik
  version: "38.x"
---
kind: HelmRelease
apiVersion: helm.toolkit.fluxcd.io/v2
metadata:
  name: traefik
spec:
  interval: 12h
  install:
    strategy:
      name: RetryOnFailure
      retryInterval: 2m
  upgrade:
    strategy:
      name: RetryOnFailure
      retryInterval: 3m
  chartRef:
    kind: HelmChart
    name: traefik
  values:
    additionalArguments:
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.priority=1
    logs:
      general:
        level: DEBUG
      access:
        enabled: true
    api:
      dashboard: true
    ingressRoute:
      dashboard:
        enabled: true
    deployment:
      kind: DaemonSet
    service:
      type: LoadBalancer
      annotations:
        loadbalancer.openstack.org/proxy-protocol: "false"
    experimental:
      plugins:
        cloudflare:
          moduleName: github.com/agence-gaya/traefik-plugin-cloudflare
          version: v1.0.0
    ports:
      web:
        port: 80
        proxyProtocol:
          enabled: false
      websecure:
        port: 443
        http3:
          enabled: false
        proxyProtocol:
          enabled: false
